.pts, .pvs, .pas {
  padding-top: 10px;
}

.ptm, .pvm, .pam {
  padding-top: 20px;
}

.ptl, .pvl, .pal {
  padding-top: 30px;
}

.prs, .phs, .pas {
  padding-right: 10px;
}

.prm, .phm, .pam {
  padding-right: 20px;
}

.prl, .phl, .pal {
  padding-right: 30px;
}

.pbs, .pvs, .pas {
  padding-bottom: 10px;
}

.pbm, .pvm, .pam {
  padding-bottom: 20px;
}

.pbl, .pvl, .pal {
  padding-bottom: 30px;
}

.pls, .phs, .pas {
  padding-left: 10px;
}

.plm, .phm, .pam {
  padding-left: 20px;
}

.pll, .phl, .pal {
  padding-left: 30px;
}

.mts, .mvs, .mas {
  margin-top: 10px;
}

.mtm, .mvm, .mam {
  margin-top: 20px;
}

.mtl, .mvl, .mal {
  margin-top: 30px;
}

.mrs, .mhs, .mas {
  margin-right: 10px;
}

.mrm, .mhm, .mam {
  margin-right: 20px;
}

.mrl, .mhl, .mal {
  margin-right: 30px;
}

.mbs, .mvs, .mas {
  margin-bottom: 10px;
}

.mbm, .mvm, .mam {
  margin-bottom: 20px;
}

.mbl, .mvl, .mal {
  margin-bottom: 30px;
}

.mls, .mhs, .mas {
  margin-left: 10px;
}

.mlm, .mhm, .mam {
  margin-left: 20px;
}

.mll, .mhl, .mal {
  margin-left: 30px;
}
