<div id="footerAudioPlayer" class="footer-audio-player footer-audio-player__hidden" data-turbo-permanent>
  <div class="footer-audio-player-cover"></div>
  <div class="footer-audio-player-container"></div>
  <button class="footer-audio-player-close-button">
    <%= svg_sprite 'close' %>
  </button>
</div>
