<div class="by-center mbm">
  <h3 class="mbs">Есть чем поделиться с нами?</h3>

  <%= hex_mail_to default_email_helper, "Напишите нам письмо", class: 'button mbs' %>

  <h3 class="mbs">или в чат:</h3>

  <a href="https://gitter.im/rwpod/public">
    <img src="https://badges.gitter.im/rwpod/public.png" alt="Gitter chat" />
  </a>
</div>

<div class="mbl">
  <h2>Архив</h2>
  <ul class="side-nav">
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><a href="<%= blog_year_path year %>"><%= year %> (<%= articles.size %>)</a></li>
    <% end %>
  </ul>
</div>

