html,
body {
  height: 100%;
  background-color: hsl(43deg 50% 95%);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  background: url('/images/styles/main_bg.png');
  min-height: 100vh;
}

.layout-body {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 70rem;
}

/* turbo globals */
.turbo-progress-bar {
  height: 5px;
  background-color: hsl(178deg 85% 26%);
}

/* audio player globals */
.plyr {
  border: 1px solid hsl(0deg 0% 80%);
}

.plyr--audio {
  max-width: 100%;
}
