html,
body {
  height: 100%;
  background-color: hsl(43deg 50% 95%);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url('/images/styles/main_bg.png');
}

.layout-body {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 70rem;
}

.turbo-progress-bar {
  height: 5px;
  background-color: hsl(178deg 85% 26%);
}
