.audiojs
  audio
    position: absolute
    left: -1px
  width: 485px
  height: 25px
  background: none
  border: 1px solid LightGrey
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  overflow: hidden
  font-family: monospace
  font-size: 12px
  color: #8D8D8D
  -webkit-box-shadow: none
  -moz-box-shadow: none
  -o-box-shadow: none
  box-shadow: none
  padding: 1px 0px
  margin: 5px 0px
  .play-pause
    width: 22px
    height: 22px
    padding: 0
    margin: 0px
    float: left
    overflow: hidden
    border-right: 1px solid #CECECE
  p
    display: none
    width: 22px
    height: 22px
    margin: 0px
    cursor: pointer
  .volume
    position: relative
    float: left
    width: 28px
    background: url("/images/audiojs/player-graphics_blue.gif") -10px -143px no-repeat
    height: 12px
    overflow: hidden
    margin: 5px
  .play
    display: block
  .scrubber
    position: relative
    float: left
    width: 320px
    background: #CECECE
    height: 12px
    margin: 5px 5px
    border-left: 0px
    border-bottom: 0px solid #F9F9F9
    border-top: 0px solid #AEAEAE
    overflow: hidden
  .progress
    position: absolute
    top: 0px
    left: 0px
    height: 12px
    width: 0px
    background: #338ce4
    z-index: 1
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #509dea), color-stop(1, #1c72dd))
    background-image: -moz-linear-gradient(center top, #509dea 0%, #1c72dd 100%)
  .loaded
    position: absolute
    top: 0px
    left: 0px
    height: 12px
    width: 0px
    background: #BABABA
  .time
    float: left
    text-align: center
    width: 91px
    height: 22px
    line-height: 22px
    margin: 0px 0px 0px 0px
    font-size: 12px
    padding: 0px 5px
    border-left: 1px solid #CECECE
    border-right: 1px solid #CECECE
    em
      padding: 0px 2px 0px 0px
      color: #526f9a
      font-style: normal
      text-shadow: none
    strong
      padding: 0px 0px 0px 2px
      color: #8D8D8D
      font-weight: normal
      text-shadow: none
  .level
    position: absolute
    top: 0
    left: 0
    height: 12px
    width: 100%
    background: url("/images/audiojs/player-graphics_blue.gif") -10px -123px no-repeat
  .error-message
    float: left
    display: none
    margin: 0px 10px
    height: 21px
    width: 375px
    overflow: hidden
    line-height: 21px
    white-space: nowrap
    color: #8D8D8D
    text-overflow: ellipsis
    -o-text-overflow: ellipsis
    -icab-text-overflow: ellipsis
    -khtml-text-overflow: ellipsis
    -moz-text-overflow: ellipsis
    -webkit-text-overflow: ellipsis
    a
      color: #338ce4
      text-decoration: none
      white-space: wrap
  .play
    background: url("/images/audiojs/player-graphics_blue.gif") -3px -3px no-repeat
  .loading
    background: url("/images/audiojs/player-graphics_blue.gif") -3px -33px no-repeat
  .error
    background: url("/images/audiojs/player-graphics_blue.gif") -3px -63px no-repeat
  .pause
    background: url("/images/audiojs/player-graphics_blue.gif") -3px -93px no-repeat
    &:hover, &:focus
      background: url("/images/audiojs/player-graphics_blue.gif") -33px -93px no-repeat
  .play
    &:hover, &:focus
      background: url("/images/audiojs/player-graphics_blue.gif") -33px -3px no-repeat
  &.playing .play
    display: none

.audiojs.playing
  .loading, .error
    display: none

.audiojs
  &.playing .pause
    display: block
  &.loading .play
    display: none

.audiojs.loading
  .pause, .error
    display: none

.audiojs
  &.loading .loading
    display: block
  &.error .time
    display: none

.audiojs.error
  .play, .pause, .scrubber, .loading, .volume
    display: none

.audiojs.error
  .error
    display: block
  .play-pause p
    cursor: auto
  .error-message
    display: block

.track-details
  clear: both
  height: 22px
  width: 485px
  padding: 1px 6px
  background: #eee
  color: #222
  font-family: monospace
  font-size: 12px
  line-height: 20px
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15)
  &:before
    content: '♬ '
  em
    font-style: normal
    color: #999