---
import AppLayout from '@layouts/app.astro'
import TopPosts from '@components/TopPosts.astro'
import BottomPosts from '@components/BottomPosts.astro'
import Pages from '@components/Pages.astro'
import { getPosts } from '@utils/posts'

export const getStaticPaths = async ({ paginate }) => (
  paginate(await getPosts(), { pageSize: 10 })
)

const { page } = Astro.props

const TOP_POSTS_SIZE = 4
const topPosts = page.data.slice(0, TOP_POSTS_SIZE)
const bottomPosts = page.data.slice(TOP_POSTS_SIZE)
---
<style>
  .archive-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
  }
</style>

<AppLayout title="Архіви">
  <h1 class="archive-title">
    Архіви - #{page.currentPage} сторінка
  </h1>
  <TopPosts posts={topPosts} />
  <BottomPosts posts={bottomPosts} />
  <Pages page={page} firstPageUrl="/" />
</AppLayout>
