---
import AppLayout from '@layouts/app.astro'

const pageTitle = 'Page Not Found :('
---
<style>
  .not-found-container {
    max-width: 530px;
    width: 530px;
    margin: 0 auto;
  }
</style>

<AppLayout title={pageTitle}>
  <div class="not-found-container">
    <h1>Not found <span>:(</span></h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <p>It looks like this was the result of either:</p>
    <ul>
      <li>a mistyped address</li>
      <li>an out-of-date link</li>
    </ul>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/t3otBjVZzT0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</AppLayout>
