---
import AppLayout from '@layouts/app.astro'

const pageTitle = 'Не знайдено сторінку, на яку ви переходили :('
---

<style>
  .not-found-container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .not-found-title {
    font-size: 2rem;
    line-height: 2;
  }
</style>

<AppLayout title={pageTitle}>
  <div class="not-found-container">
    <h1 class="not-found-title">Не знайдено сторінку, на яку ви переходили :(</h1>
    <p>Вибачте, але сторінка, яку ви намагалися переглянути, не існує.</p>
    <p>Результатом цього може бути:</p>
    <ul>
      <li>невірно введена адреса у браузері</li>
      <li>це був застарілий лінк і інформації більше немає</li>
    </ul>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/t3otBjVZzT0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</AppLayout>
