---
import AppLayout from '@layouts/app.astro'
import { pageRoute } from '@utils/links'
---
<AppLayout>
  <p>My page content, wrapped in a layout!</p>
  <p>Read more <a href={pageRoute('/')}>home</a> Astro!</p>
</AppLayout>
