---
import AppLayout from '@layouts/app.astro'
import { route } from '@utils/helpers'
---
<style>
  p {
    color: red;
  }
</style>

<AppLayout>
  <p>My page content, wrapped in a layout!</p>
  <p>Read more <a href={route('/')}>home</a> Astro!</p>
</AppLayout>
