---
import AppLayout from '@layouts/app.astro'
import PostBlock from '@components/PostBlock.astro'
import MainPost from '@components/MainPost.astro'
import { getPosts } from '@utils/posts'

const MAX_POSTS = 10
const allPosts = getPosts()
const haveNextPage = allPosts.length > MAX_POSTS
const posts = allPosts.slice(0, MAX_POSTS)
const [firstPost, ...restPosts] = posts
---
<style>
  .posts-bottom-list {
    display: flex;
    flex-wrap: wrap;
  }

  .posts-bottom-item {
    flex-basis: 33.333%;
  }
</style>

<AppLayout>
  {firstPost && <MainPost post={firstPost} />}

  <div class="posts-bottom-list">
    {restPosts.map((post) => (
      <PostBlock class="posts-bottom-item" post={post} />
    ))}
  </div>
</AppLayout>
