---
import AppLayout from '@layouts/app.astro'
import PostHead from '@components/PostHead.astro'
import BottomPosts from '@components/BottomPosts.astro'
import MainPost from '@components/MainPost.astro'
import { getPosts } from '@utils/posts'

const MAX_POSTS = 10
const allPosts = await getPosts()
const haveNextPage = allPosts.length > MAX_POSTS
const posts = allPosts.slice(0, MAX_POSTS)
const [firstPost, ...restPosts] = posts
---
<style>
  .archives-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .archives-btn {
    border: 1px solid hsl(41deg 21% 65%);
    border-radius: 3px;
    color: hsl(13deg 70% 30%);
    display: inline-block;
    padding: 0.25rem 0.5rem;
  }

  .archives-btn:hover, .archives-btn:focus {
    border-color: hsl(44, 14%, 40%);
    color: hsl(13deg 50% 25%);
  }
</style>

<AppLayout>
  <PostHead slot="head" post={firstPost} />

  {firstPost && <MainPost post={firstPost} />}

  <BottomPosts posts={restPosts} />

  {haveNextPage &&
    <div class="archives-btn-wrapper">
      <a class="archives-btn" href="/archives/2">Більше попередніх випусків</a>
    </div>
  }
</AppLayout>
