---
import SvgIcon from '@components/SvgIcon.astro'
import { DEFAULT_TITLE } from '@utils/content'
import { pageRoute } from '@utils/links'

const { pathname } = Astro.url

const navigationClasses = (path = '/', isRight = false) => {
  let classes = ['navigation-item']

  if (pathname === pageRoute(path)) {
    classes = [...classes, 'navigation-item__active']
  }

  if (isRight) {
    classes = [...classes, 'navigation-item__right']
  }

  return classes.join(' ')
}
---

<style>
  .header {
    display: flex;
    justify-content: center;
    padding: 3.5rem 0;
    position: relative;
  }

  .navigation-wrapper {
    background: hsl(42deg 28% 84%);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 0;
    height: 5.7rem;
    max-width: 70rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.4rem;
    order: 1;
  }

  .navigation-item__right {
    order: 2;
  }

  .logo {
    aspect-ratio: 86 / 65;
    width: 15rem;
  }

  .navigation-link {
    color: hsl(34deg 19% 26%);
    text-transform: uppercase;
  }
  .navigation-link:hover {
    color: hsl(0deg 0% 20%);
  }

  .navigation-item__active .navigation-link {
    color: hsl(13deg 74% 37%);
  }

  .navigation-btn {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;
    color: hsl(34deg 19% 26%);
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0;
  }

  .navigation-btn:active {
    color: hsl(13deg 74% 37%);
  }

  @media all and (max-width: 769px) {
    .navigation-wrapper {
      background: none;
    }

    .navigation {
      flex-direction: column;
      align-items: stretch;
      height: auto;
      padding: 0;
      gap: 0.5rem;
      width: 100%;
    }

    .logo-wrapper {
      margin-top: -2rem;
      order: 0;
    }

    .navigation-item {
      padding: 0.5rem;
      background: hsl(42deg 28% 84%);
      text-align: center;
    }

    .navigation-item__right {
      order: 0;
    }

    .navigation-link {
      text-align: center;
    }
  }
</style>

<header class="header">
  <div class="navigation-wrapper">
    <ul class="navigation">
      <li class="logo-wrapper">
        <a href={pageRoute('/')}>
          <img
            class="logo"
            src="/images/logo.svg"
            alt={DEFAULT_TITLE}
            title={DEFAULT_TITLE}
          />
        </a>
      </li>
      <li class={navigationClasses('/')}>
        <a class="navigation-link" href={pageRoute('/')}>Головна</a>
      </li>
      <li class={navigationClasses('/about')}>
        <a class="navigation-link" href={pageRoute('/about')}>Про нас</a>
      </li>
      <li class={navigationClasses('/podcasts', true)}>
        <a class="navigation-link" href={pageRoute('/podcasts')}>Подкасти</a>
      </li>
      <li class={navigationClasses('/search', true)}>
        <button class="navigation-btn">
          Пошук
          <SvgIcon name="search-web" size="1.3rem" />
        </button>
      </li>
    </ul>
  </div>
</header>
