---
import { DEFAULT_TITLE } from '@utils/content'
import { pageRoute } from '@utils/links'
import HeaderMenu from '@components/HeaderMenu.svelte'

const currentPath = (new URL(Astro.request.url)).pathname
---

<style>
  .header {
    display: flex;
    padding: 60px 0;
  }

  .logo {
    height: 195px;
    width: 258px;
  }

  .test {
    background: hsl(42deg 28% 84%);
  }

  @media screen and (max-width: 600px) {
    .header {
      height: 49px;
    }

    .logo-wrapper {
      top: -24px;
      margin-left: -66px;
    }

    .logo {
      width: 129px;
      height: 97px;
    }
  }
</style>

<header class="header">
  <a href={pageRoute("/")} class="logo-wrapper">
    <img
      class="logo"
      src="/images/logo.svg"
      alt={DEFAULT_TITLE}
      title={DEFAULT_TITLE}
    />
  </a>
  <HeaderMenu client:idle currentPath={currentPath} />
</header>


