---
const { post, class: className } = Astro.props
---

<style>
  .box {
    background: hsl(0deg 0% 100%);
    border: 1px solid hsl(44deg 14% 79%);
    border-top: 5px solid hsl(44deg 14% 79%);
    width: 100%;
  }

  .header {
    display: flex;
    border-bottom: 1px solid hsl(44deg 14% 79%);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .header-right {
    margin-left: auto;
    font-size: 0.8rem;
  }

  .content {
    min-height: 12rem;
    padding: 1rem;
  }
</style>

<div class:list={['box', className]}>
  <div class="header">
    <div class="header-left">{post.data.headlineTitle}</div>
    <div class="header-right">{post.data.formatedDate}</div>
  </div>
  <div class="content">
    <h2>
      <a href={post.url}>{post.data.title}</a>
    </h2>
  </div>
</div>
