---
const { post, class: className } = Astro.props
---

<div class:list={['column', className]}>
  <div class="box">
    <div class="header row">
      <div class="left">{post.frontmatter.headlineTitle}</div>
      <div class="right"><small>{post.frontmatter.formatedDate}</small></div>
    </div>
    <div class="content">
      <h2>
        <a href={post.url}>{post.frontmatter.title}</a>
      </h2>
    </div>
    <div class="footer">
      <a
        href="https://www.rwpod.com/posts/2022/02/05/cafe-028.html#disqus_thread"
        >0 Comments</a
      >
    </div>
  </div>
</div>
