---
import SvgIcon from '@components/SvgIcon.astro'
---

<style>
  .social-header {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .social-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-buttons-list__bottom {
    margin-bottom: 1rem;
  }

  .social-icons-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 14rem;
  }

  .social-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid hsl(41deg 21% 65%);
    border-radius: 3px;
    color: hsl(13deg 70% 30%);
    padding: 0.5rem;
    background: transparent;
  }

  .social-button:hover,
  .social-button:focus {
    border-color: hsl(44, 14%, 40%);
    color: hsl(13deg 50% 25%);
  }

  .social-button__full {
    width: 14rem;
  }

  .social-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-button-ua {
    background: linear-gradient(to right, #004ff961, #fff94c61);
  }
</style>

<div class="social-buttons-list social-buttons-list__bottom">
  <a
    class="social-button social-button__full social-button-ua"
    target="_blank"
    rel="noopener noreferrer"
    href="https://war.ukraine.ua/"
  >
    <div class="social-button-icon">
      <SvgIcon size="2.5rem" name="charity" />
    </div>
    Support Ukraine!!!
  </a>
</div>

<h2 class="social-header">Підпишись на нас</h2>

<div class="social-buttons-list">
  <a class="social-button social-button__full" href="/rss.xml" title="MP3 RSS Feed">
    <div class="social-button-icon">
      <SvgIcon size="2.5rem" name="rss-box" />
    </div>
    MP3 RSS Feed
  </a>
  <a class="social-button social-button__full" href="/rss-aac.xml" title="AAC RSS Feed">
    <div class="social-button-icon">
      <SvgIcon size="2.5rem" name="cast-audio" />
    </div>
    AAC RSS Feed
  </a>

  <div class="social-icons-row">
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://t.me/rwpod"
      title="Telegram"
      aria-label="Telegram"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="telegram" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/rwpod"
      title="Twitter"
      aria-label="Twitter"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="twitter" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="http://www.facebook.com/rwpod"
      title="Facebook"
      aria-label="Facebook"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="facebook" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:%72%77%70%6f%64.%63%6f%6d@%67%6d%61%69%6c.%63%6f%6d"
      aria-label="Email"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="email" />
      </div>
    </a>
  </div>

  <div class="social-icons-row">
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/@Rwpod/videos"
      title="Youtube Podcasts"
      aria-label="Youtube Podcasts"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="youtube-subscription" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://itunes.apple.com/podcast/rwpod-podkast-pro-mir-ruby/id597248066"
      title="Apple Podcasts"
      aria-label="Apple Podcasts"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="apple" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://open.spotify.com/show/6uNLdp7BBCG4oFD3Ih5vnN"
      title="Spotify"
      aria-label="Spotify"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="spotify" />
      </div>
    </a>
    <a
      class="social-button"
      target="_blank"
      rel="noopener noreferrer"
      href="https://music.amazon.com/podcasts/8f05b42f-36e2-466b-96ac-dc183ffd112b/rwpod---%D0%BF%D0%BE%D0%B4%D0%BA%D0%B0%D1%81%D1%82-%D0%BF%D1%80%D0%BE-ruby-%D1%82%D0%B0-web-%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D1%96%D1%97"
      title="Amazon"
      aria-label="Amazon"
    >
      <div class="social-button-icon">
        <SvgIcon size="2rem" name="aws" />
      </div>
    </a>
  </div>

  <a
    class="social-button social-button__full"
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.buymeacoffee.com/leopard"
    title="Support"
  >
    <div class="social-button-icon">
      <SvgIcon size="2.5rem" name="cash" />
    </div>
    Підтримати нас
  </a>
</div>
