---
import SvgIcon from '@components/SvgIcon.astro'
---
<style>
  .social-header {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .social-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid hsl(41deg 21% 65%);
    border-radius: 3px;
    color: hsl(13deg 70% 30%);
    padding: 0.25rem 0.5rem;
    background: transparent;
    width: 14rem;
  }

  .social-button:hover, .social-button:focus {
    border-color: hsl(44, 14%, 40%);
    color: hsl(13deg 50% 25%);
  }
</style>

<h2 class="social-header">Підпишись на нас</h2>

<div class="social-buttons-list">
  <a class="social-button" href="/rss.xml">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="rss-box" />
    </div>
    MP3 RSS Feed
  </a>
  <a class="social-button" href="/rss-aac.xml">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="cast-audio" />
    </div>
    AAC RSS Feed
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="https://itunes.apple.com/podcast/rwpod-podkast-pro-mir-ruby/id597248066">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="apple" />
    </div>
    Apple Podcasts
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="https://podcasts.google.com/feed/aHR0cHM6Ly93d3cucndwb2QuY29tL2FyY2hpdmUueG1s">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="google-podcast" />
    </div>
    Google Podcasts
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/show/6uNLdp7BBCG4oFD3Ih5vnN">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="spotify" />
    </div>
    Spotify
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="https://t.me/rwpod">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="telegram" />
    </div>
    Telegram
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="https://twitter.com/rwpod">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="twitter" />
    </div>
    Twitter
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/rwpod">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="facebook" />
    </div>
    Facebook
  </a>
  <a class="social-button" target="_blank" rel="noopener noreferrer" href="mailto:%72%77%70%6f%64.%63%6f%6d@%67%6d%61%69%6c.%63%6f%6d">
    <div class="svg-icon">
      <SvgIcon size="2.5rem" name="email" />
    </div>
    Написати нам
  </a>
</div>
