---
import PostBlock from '@components/PostBlock.astro'
import Sidebar from '@components/Sidebar.astro'

const { posts } = Astro.props
---
<style>
  .articles-block {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  .mainbar {
    flex-basis: calc(100% * 2 / 3 - 0.3rem);
  }

  .sidebar {
    flex-basis: calc(100% / 3 - 1rem);
  }

  .posts-top-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.4rem;
  }

  .posts-top-list :global(.posts-top-item) {
    flex-basis: calc(50% - 0.5rem);
  }

  @media screen and (max-width: 900px) {
    .posts-top-list :global(.posts-top-item) {
      flex-basis: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .mainbar {
      flex-basis: 100%;
    }

    .sidebar {
      display: none;
    }
  }
</style>

<div class="articles-block">
  <div class="mainbar">
    <div class="posts-top-list">
      {posts.map((post) => (
        <PostBlock class="posts-top-item" post={post} />
      ))}
    </div>
  </div>
  <div class="sidebar">
    <Sidebar />
  </div>
</div>
