.author {
  position: relative;
  min-height: 295px;
  overflow: hidden;
  background: #fff;
}
.author .photo {
  position: absolute;
}
.author .photo img {
  width: 200px;
  height: 350px;
}
.author .bio {
  box-sizing: border-box;
  border-top: 5px solid #087c78;
  padding: 30px 30px 30px 230px;
}
.author .contacts {
  margin-bottom: 20px;
}
.author .contacts a {
  display: inline-block;
  text-align: center;
  padding: 8px 0 1px 0;
  width: 35px;
  background: #faf6ec;
  color: #d26748;
  border-radius: 50%;
  margin-right: 5px;
  transition: background 0.3s ease;
}
.author .contacts a:hover {
  background: #ead9af;
}
.author .contacts a:hover .svg-icon {
  fill: #a54529;
}
.author .contacts a .svg-icon {
  width: 20px;
  height: 20px;
  fill: #d26748;
}
.author.inverse .bio {
  padding: 30px 230px 30px 30px;
  border-top: 5px solid #d26748;
}
.author.inverse .photo {
  right: 0;
  top: 0;
}

@media screen and (max-width: 580px) {
  .author .bio, .author.inverse .bio {
    padding: 30px;
  }
  .author .photo, .author.inverse .photo {
    display: none;
  }
}
