---
import '@utils/initial-server'
import BaseHead from '@components/BaseHead.astro'
// import Footer from '../components/Footer.astro';
const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <BaseHead title={title} />

    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-YCVPPMMQMB"></script>
    <script is:inline async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YCVPPMMQMB');
    </script>

    <script>
      import '@utils/initial-client'
    </script>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
