---
import { pwaInfo } from 'virtual:pwa-info'
import Head from '@components/Head.astro'
import HeadAnalytic from '@components/HeadAnalytic.astro'
import Header from '@components/Header.astro'
import Hotwire from '@components/Hotwire.astro'
import Footer from '@components/Footer.astro'
import FooterAudioPlayer from '@components/FooterAudioPlayer.astro'
import ServiceWorker from '@components/ServiceWorker.astro'

const { title } = Astro.props
---

<html lang="en">
  <head>
    <Head title={title} />
    <slot name="head" />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <HeadAnalytic />
  </head>
  <body>
    <Hotwire />
    <ServiceWorker />
    <div class="layout-wrapper">
      <Header />
      <div class="layout-body"><slot /></div>
      <Footer />
    </div>
    <FooterAudioPlayer />
  </body>
</html>
