---
import { Sprite } from 'astro-icon'
import Head from '@components/Head.astro'
import HeadAnalytic from '@components/HeadAnalytic.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const { title } = Astro.props
---
<script>
  import '@styles/app.css'
  import '@utils/initial-client'
</script>

<Sprite.Provider>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
      <Head title={title} />
      <HeadAnalytic />

      <slot name="head"/>
    </head>
    <body>
      <div class="wrapper">
        <Header />
        <div class="body">
          <slot />
        </div>
        <Footer />
      </div>
    </body>
  </html>
</Sprite.Provider>

