---
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <article>
    <%= partial "partials/article", locals: { article: article } %>
  </article>
  <hr />
<% end %>

<% if paginate %>
  <ul class="pagination">
    <% if prev_page %>
      <li><%= link_to '&laquo; Позже', prev_page %></li>
    <% end %>
    <% if next_page %>
      <li><%= link_to 'Раньше &raquo;', next_page %></li>
    <% end %>
  </ul>
<% end %>