<%# encoding: utf-8 %>
---
pageable: true
per_page: 25
---
<% content_for :title, "Тег #{tagname}" %>

<h1 class="tags-title">Тег '<%= tagname %>'</h1>

<ul class="tags-list">
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %>&nbsp;<span class="date">(<%= article_short_date(article) %>)</span></li>
  <% end %>
</ul>

<%= partial "partials/pagination", locals: {
  paginate: (defined?(paginate) ? paginate : nil),
  prev_page: (defined?(prev_page) ? prev_page : nil),
  next_page: (defined?(next_page) ? next_page : nil)
} %>
